*.class

# Package Files #
*.jar
*.war
*.ear

/assets/forge/**/*
/assets/forge/*
/cpw/**/*
/cpw/*
/ibxm/**/*
/ibxm/*
/net/**/*
/net/*
/paulscode/**/*
/paulscode/*
*.lzma
fml_at.cfg
fml_marker.cfg
fmlversion.properties
forge_at.cfg
forge_logo.png
mcpmod.info
Start.java